* {
    margin: 0;
}

body {
    text-align: center;
}

.App {
    height: 30vh;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

.addtask {
    background-color: rgb(83, 83, 255);
    height: 40vh;

    /* background: red; */
    display: flex;
    justify-content: center;


}

.addtask input, button {
    margin-top: 30px;

    height: 5vh;
    width: 10vh;
}

.addtask input {
    width: 30%;
    height: 15%;
    border: none;
    border-radius: 10px 0 0 10px;


}

.addtask button {
    border: none;
    height: 15.6%;
    /* border-left: black; */
    border-radius: 0 10px 10px 0;
}

.addtask button {
    border: none;
    /* border-left: black; */
    border-radius: 0 10px 10px 0;
}

.Tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    

}
.Tasks button,.Tasks h1{
    margin: auto 10px;
}
.Tasks button {
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    width: 60px;
    height: 20px;
    text-align: center;

}